[submodule "reaper-api"]
	path = core/reaper-api
	url = git@github.com:lucaromagnoli/reaper-api.git
[submodule "core/lua-scripts/ReaWrap"]
	path = core/lua-scripts/ReaWrap
	url = git@github.com:lucaromagnoli/ReaWrap.git
[submodule "core/lua-scripts/luaunit"]
	path = core/lua-scripts/luaunit
	url = git@github.com:bluebird75/luaunit.git
